{% extends 'admin/base.html.twig' %}

{% block body %}

<div class="flex min-h-screen bg-gray-50" x-data="{ sidebarOpen: true }">

    <!-- SIDEBAR -->
    {% include 'admin/components/sidebar.html.twig' %}


    <!-- MAIN -->
    <div class="flex flex-1 flex-col lg:ml-64">

        <!-- TOP NAV -->
        {% include 'admin/components/top-nav.html.twig' %}


        <!-- PAGE CONTENT -->
        <main class="flex-1 overflow-auto p-6">

            <div class="mx-auto max-w-7xl space-y-6">

                {% block content %}{% endblock %}

            </div>

        </main>

    </div>

</div>

{% endblock %}
