{% extends 'base.html.twig' %}

{% block body %}
<div class="flex min-h-screen bg-gray-50">

    {% include 'components/sidebar.html.twig' %}

    <div class="flex-1 ml-72 min-h-screen">
        {% include 'components/top-nav.html.twig' %}

        <main class="p-8 min-h-[calc(100vh-64px)]">
            {% block content %}{% endblock %}
        </main>
    </div>
</div>
<link rel="stylesheet" href="/css/modern-styles.css">
{% endblock %}
